.jumbotron{
    height: calc(100vh - 100px);
    margin: 0px;
}
.lead{
    font-size: 4.25rem;
}
.message{
    font-size: 2.25em;
    position: relative;
    top: 155px;
    float: right;
    max-width: 364px;
    left: 15px;
}

.image-container{
    float: right;
}