<div class="welcome-message-container">
    <div class="jumbotron">
        <h1 class="display-1">Welcome,</h1>
        <p class="lead">Say hello to the next gen ATM powered by biometrics.</p>
        <hr class="my-4"> -->
        <div class="image-container">
            <img src="assets/images/animat-credit-card-color.gif" alt="">
        </div>
        <p class="message"> <em>Please dip your card or press any key for cardless transactions.</em></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Continue</a>
    </div>
</div>