<div id="webcam">
    <webcam [height]="768" [width]="1024" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [videoOptions]="videoOptions" [imageQuality]="1" (imageClick)="triggerSnapshot()"></webcam>
</div>
<div *ngIf="enableButtonControl">
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="hideWebcam();">Hide Webcam</button>
    <button class="actionBtn" (click)="showWebcamfun();">Show Webcam</button>
</div>