.face-detection-container {
    background-color: #000000;
    height: 100%;
    text-align: center;
}

#face-detection-image {
    display: block;
    margin: auto;
}

.message-container {
    color: white;
    font-size: 2em;
}

#webcam {
    margin: 0 auto;
    text-align: center;
}