credentials.csv
*.pyc
.vscode/*
.vscode/.ropeproject/*
objectdb
Workspace/POC-Testing/.vscode/.ropeproject/config.py
Workspace/NextGenATM/NextGenATM.Services/test.jpg
Workspace/NextGenATM/NextGenATM.Services/.vscode/.ropeproject/config.py
Workspace/.vscode/launch.json
Workspace/NextGenATM/NextGenATM.Services/backup/*
Workspace/POC-Testing/.vscode/.ropeproject/config.py
Workspace/POC-Testing/.vscode/.ropeproject/objectdb
