<div class="container mt-5">
  &nbsp;
  <div class="row d-flex justify-content-center">
    <div class="urlform  mt-5 text-center col-md-4 ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/faceidatm-logo.svg" alt="Card image cap">
        <div class="card-body">
          <form [formGroup]=urlForm (ngSubmit)='onSubmit(urlForm.value)'>
            <div class="form-group">
              <label for="baseUrlInput">NextGenATM Instance</label>
              <input type="text" class="form-control" required id="baseUrlInput" formControlName='url'
                placeholder="Enter instance URL">
            </div>
            <div class="card-text my-2 text-danger" *ngIf="!validUrl"> Enter a url in valid format</div>
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast sticky=true position="bottom-right"></p-toast>