<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="first">
            <img src="assets/faceidatm-logo.svg" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form class="formPadding">
            <input type="text" id="login" class="second" name="login" placeholder="Enter username"
                [(ngModel)]="username">
            <input type="password" id="password" class="third" name="login" placeholder="Enter password"
                [(ngModel)]="password">
            <input type="submit" class="fourth" value="Log In" (click)="submitForm()">
        </form>
    </div>
</div>